<div class="widget-content">
<h1 class="post-title">Caixa de Entrada</h1>

<table class="table table-striped">
  <tr>
    <th>De:</th>
    <th>Titulo</th>
    <th></th>
    <th></th>
  </tr>

<% Message.where("user_receiver_id = ?",current_user.id).each do |message| %>
  <tr>

    <% if message.read_flag == "ok" %>
    <td><%= User.find(message.user_id).name %></td>
    <td><%= message.title %></td>
    <% else %>
    <td><b><%= User.find(message.user_id).name %></b> </td>
    <td><b><%= message.title %></b></td>
    <% end %>
    <td><%= button_to 'Abrir', message, :method => :get %></td>
    <td><%= button_to 'Excluir', message, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Message', select_user_path %>
<%= link_to 'Nova Mensagem', new_message_path %>
</div>
