<p id="notice"><%= notice %></p>

<p>
  <b>Título: </b>
  <br>
  <%= @message.title %>
  <br><br>
  <b>Conteúdo:</b>
  <br>
  <%= @message.content %>
</p>

<% if @message.user_receiver_id == current_user.id%>
<%= form_for(@message) do |f| %>
<%= f.hidden_field :read_flag, :value => "ok" %>
<%= f.submit "Marcar como lida" %>
<% end %>
<% end %>


<%= link_to 'Back', messages_path %>
