 <div class="row-fluid widget-content">
  <h1 class="page-title">Cadastro</h1>

  <p></p>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label "Nome" %>
    <%= f.text_field :name, :id => "nome", :autofocus => true %></div>

    <div><%= f.label "Email" %>
    <%= f.email_field :email, :id => "email" %></div>

    <div><%= f.label "Senha" %>
    <%= f.password_field :password, :id => "senha" %></div>

    <div><%= f.label "Confirmação da Senha" %>
    <%= f.password_field :password_confirmation, :id => "confirmacao" %></div>

    <div>Campos marcados com * são obrigatórios</div><br />

    <div><%= f.submit "Cadastrar", :class => "btn" %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
