 <div class="row-fluid">
  <h2>Cadastro</h2>

  <p></p>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label "Nome" %>
    <%= f.text_field :name, :id => "cadastro_nome", :autofocus => true %></div>

    <div><%= f.label "Email" %>
    <%= f.email_field :email, :id => "cadastro_email" %></div>

    <div><%= f.label "Senha" %>
    <%= f.password_field :password, :id => "cadastro_senha" %></div>

    <div><%= f.label "Confirmação da Senha" %>
    <%= f.password_field :password_confirmation, :id => "cadastro_confirma" %></div>

    <div>Campos marcados com * são obrigatórios</div><br />

    <div><%= f.submit "Cadastrar", :id => "cadastrar" %></div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
