<h1>Suas Startups</h1>

<table class="table">
  <tr>
    <th>Nome Fantasia</th>
    <th>Cidade</th>
    <th>Telefone</th>
    <th>Endereço</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% Startup.where("user_id = ?",current_user.id).each do |startup| %>
  <tr>
    <td><%= startup.fantasy_name %></td>
    <td><%= startup.city %></td>
    <td><%= startup.contact %></td>
    <td><%= startup.location %></td>
    <td><%= link_to 'Visualizar', startup %></td>
    </tr>
<% end %>
</table>

<br />

<%= link_to 'Criar/Editar Startup', new_startup_path %>
