<p id="notice"><%= notice %></p>



<p>
  <b>Nome Fantasia:</b>
  <%= @startup.fantasy_name %>
</p>

<p>
  <b>CNPJ:</b>
  <%= @startup.cnpj_duns %>
</p>

<p>
  <b>Logo:</b>
  <%= image_tag @startup.logo.url(:small) %>
</p>

<p>
  <b>Contact:</b>
  <%= @startup.contact %>
</p>

<p>
  <b>Area de Atuação:</b>
  <%= @startup.area %>
</p>

<p>
  <b>Endereço:</b>
  <%= @startup.location %>
</p>


<%= link_to 'Edit', edit_startup_path(@startup) %> |
<%= link_to 'Back', startups_path %>
