<%= form_for(@credit_card) do |f| %>
  <% if @credit_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit_card.errors.count, "error") %> prohibited this credit_card from being saved:</h2>

      <ul>
      <% @credit_card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Bandeira do Cartão" %><br />
    <%= f.select :flag,   [['American Express', 'American Express'],['VISA', 'VISA'],['Dinners', 'Dinners'],['MasterCard', 'MasterCard']], { include_blank: true } %>
  </div><br>
  <div class="field">
    <%= f.label "Nome no Cartão" %><br />
    <%= f.text_field :name, :class => "span3"%>
  </div>
  <div class="field">
    <%= f.label "Numero do Cartão" %><br />
    <%= f.text_field :number, :class => "span3"%>
  </div>
  <div class="field">
    <%= f.label "Data de Validade" %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label "Codigo de Segurança" %><br />
    <%= f.text_field :seg_cod, :class => "span1"%>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
