<h1>Listing credit_cards</h1>

<table>
  <tr>
    <th>Flag</th>
    <th>Name</th>
    <th>Number</th>
    <th>Date</th>
    <th>Seg cod</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @credit_cards.each do |credit_card| %>
  <tr>
    <td><%= credit_card.flag %></td>
    <td><%= credit_card.name %></td>
    <td><%= credit_card.number %></td>
    <td><%= credit_card.date %></td>
    <td><%= credit_card.seg_cod %></td>
    <td><%= link_to 'Show', credit_card %></td>
    <td><%= link_to 'Edit', edit_credit_card_path(credit_card) %></td>
    <td><%= link_to 'Destroy', credit_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Credit card', new_credit_card_path %>
