<%= form_for @user, :html => { :multipart => true } do |f| %>
  <div class="field">
    <%= f.label "Nome Fantasia" %><br />
    <%= f.text_field :fantasy_name %>
  </div>
  <div class="field">
    <%= f.label "CNPJ" %><br />
    <%= f.text_field :cnpj_duns %>
  </div>
  <div class="field">
    <%= f.label "Telefone de Contato" %><br />
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label "Endereço" %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label "Cidade" %><br />
    <%= f.select :city,   [['Águas de Lindoia', 'Aguas de Lindóia'],['Amparo', 'Amparo'],['Americana', 'Americana'],['Aparecida', 'Aparecida'],['Bauru', 'Bauru'],['Belo Horizonte', 'Belo Horizonte'],['Brasilia', 'Brasilia'],['Cabreuva', 'Cabreuva'],['Campos do Jordão', 'Campos do Jordão'],['Capela do Alto', 'Capela do Alto'],['Campinas', 'Campinas'],['Diadema', 'Diadema'],['Dobrada', 'Dobrada'],['Elias Fausto', 'Elias Fausto'],['Embu', 'Embu'],['Floreal', 'Floreal'],['Franca', 'Franca'],['Guaratingueta', 'Guaratingueta'],['Guarulhos', 'Guarulhos'],['Guarujá', 'Guarujá'],['Holambra', 'Holambra'],['Hortolandia', 'Hortolandia'],['Ilha Bela', 'Ilha Bela'],['Indaiatuba', 'Indaiatuba'],['Itu', 'Itu'],['Itupeva', 'Itupeva'],['Jundiai', 'Jundiai'],['Juqueiropolis', 'Juqueiropolis'],['Laranjal Paulista', 'Laranjal Paulista'],['Limeira', 'Limeira'],['Lindóia', 'Lindóia'],['Macatuaba', 'Macatuaba'],['Mogi Guaçu', 'Mogi Guaçu'],['Macapa', 'Macapa'],['Nova Odessa', 'Nova Odessa'],['Novais', 'Novais'],['Olimpia', 'Olimpia'],['Ouro Preto', 'Ouro Preto'],['Osasco', 'Osasco'],['Palmital', 'Palmital'],['Pirassununga', 'Pirassununga'],['Piratininga', 'Piratininga'],['Ribeirão Preto', 'Ribeirão Preto'],['Rio de Janeiro', 'Rio de Janeiro'],['Salto', 'Salto'],['São Paulo', 'São Paulo'],['Santos', 'Santos'],['Tatui', 'Tatui'],['Teodoro Sampaio', 'Teodoro Sampaio'],['Valinhos', 'Valinhos'],['Vinhedo', 'Vinhedo'],['Zacarias', 'Zacarias']], { include_blank: true }%>
  </div>

  <div class="field">
  <%= f.label "Estado" %><br />
    <%= f.select :state,   [['Acre', 'Acre'],['Alagoas', 'Alagoas'],['Amapa', 'Amapa'],['Amazonas', 'Amazonas'],['Bahia', 'Bahia'],['Ceará', 'Ceará'],['Distrito Federal', 'Distrito Federal'],['Espirito Santo', 'Espirito Santo'],['Maranhao', 'Maranhao'],['Mato Grosso', 'Mato Grosso'],['Mato Grosso do Sul', 'Mato Grosso do Sul'],['Minas Gerais', 'Minas Gerais'],['Parana', 'Parana'],['Paraiba', 'Paraiba'],['Para', 'Para'],['Pernambuco', 'Pernambuco'],['Piaui', 'Piaui'],['Rio de Janeiro', 'Rio de Janeiro'],['Rio Grande do Norte', 'Rio Grande do Norte'],['Rondonia', 'Rondonia'],['Roraima', 'Roraima'],['Santa Catarina', 'Santa Catarina'],['Sergipe', 'Sergipe'],['São Paulo', 'São Paulo'],['Tocantins', 'Tocantins']] ,{ include_blank: true }%>
  </div>

  
  <div class="field">
    <%= f.label "Logotipo" %><br />
    <%= f.file_field :photo  %>
  </div>

  <div class="field">
    <%= f.label "Area de Atuação" %><br />
    <%= f.select :area, [['Tecnologia', 'Tecnologia'],['Serviços', 'Serviços'],['Automobilistica', 'Automobilistica'],['Alimenticios', 'Alimenticios'],['Cosmeticos', 'Cosmeticos']], { include_blank: true }%>
  </div>

  <div class="field">
    <%= f.label "Descreva sobre sua Startup" %><br />
    <%= f.text_area :description %>
  </div>

  
  <div class="actions">
    <%= f.submit "Enviar", :class => "btn"%>
  </div>
<% end %>
