<p id="notice"><%= notice %></p>

<div>
<p>
  <h2><%= @user.name %></h1>
<p>
<% unless current_user.friends.include?(@user)%>
  <%= form_for :friend, :url => friendship_index_path do |f| %>
    <%= f.hidden_field :friend_id, value: @user.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <button class="btn btn-info btn-small btn-seguir">Seguir</button>
  <% end %>
<% else %>
  <%= button_to 'Deixar de seguir', friendship_path, method: :delete, :friend_id => @user.id, class: 'btn btn-small btn-danger', confirm: 'Voce tem certeza?' %>
<% end %>
</p>
<div class="posts" id="container">
  <h3>Postagens</h3>
  <% @posts = @user.posts %>
  <%= render "posts/posts" %>
</div>


