<div class="widget-content">
<h1 class="page-title">Entrar</h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label "E-mail" %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label "Senha" %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box "Lembrar-se de mim" %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Entrar", :class => "btn" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
