<div class="widget-content">
<h1 class="page-title">Meus Investidores</h1>

<table class="table">
  <tr>
    <th>Nome</th>
    <th>Empresa</th>
    <th>Localização</th>
    <th>Area de Interesse</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @investors.each do |investor| %>
  <tr>
    <td><%= investor.name %></td>
    <td><%= investor.company %></td>
    <td><%= investor.location %></td>
    <td><%= investor.area %></td>
    <td><%= link_to 'Exibir', investor %></td>
    <td><%= link_to 'Editar', edit_investor_path(investor) %></td>
    <td><%= link_to 'Excluir', investor, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
  </tr>
<% end %>
</table>
</div>
