<div class="status"  id="container">
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="status_session">
  <div class="field">
    <%= f.text_field :title, :class => "status", :id => "titulo", :placeholder => "Titulo da publicacao" %>
  </div>
  <div class="field">
    <%= f.text_area :content, :class => "status", :id => "conteudo", :placeholder => "O que voce esta pensando?" %>
  </div>
  <div class="actions">
    <%= f.submit "Publicar", :class => "btn", :id => "btn_publicar" %>
  </div>
<% end %>
  </div>
 </div>
