<div class="widget-content">
<p id="notice"><%= notice %></p>

<div class="product_info">
  	<div class="product_info" id="name">
      <h2><%= @product.name %></h2>
      <br/>
    <div class="product_info">
      <center><%= image_tag @product.photo.url(:small), :class => "thumbnail" %></center>
    </div><!-- avatar -->
    <div class="product_info">
      <br /><hr />
      <p align="justify"><%= @product.description %></p>
    </div>
    <hr/>
  </div>

<%= link_to 'Back', products_path %>
