<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse collapse">
        <div class="navbar-form pull-right">
          <% if user_signed_in? %>
            <%= button_to "Sair", destroy_user_session_path, :method => :delete, :class => "btn", :id => "sair" %>
        <% else %>
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div>
            <%= f.email_field :email, :autofocus => true, :id => "email", :placeholder => "E-mail" %>
            <%= f.password_field :password, :id => "senha", :placeholder => "Senha" %>
            <%= f.submit "Entrar", :class => "btn", :id => "entrar" %>
          </div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
