	<div class="account-container">
		<div class="account-avatar"><%= image_tag("default_avatar.png", class: "thumbnail") %></div>
		<div class="account-details">
			<span><%= link_to @user.name, user_path(current_user), :class => "account-name" %></span>
			<span class="account-actions">
				<%= link_to 'Editar Perfil', edit_user_path(current_user) %>
			</span>
		</div> <!-- /account-details -->
	</div> <!-- /account-container -->
	
	<hr />

	<ul id="main-nav" class="nav nav-tabs nav-stacked">
		<li>
			<%= link_to user_path(current_user) do %>
				<i class="icon-user"></i> Perfil
			<% end %>
		</li>
		<li>
			<%= link_to posts_path do %>
				<i class="icon-align-justify"></i> Mural
			<% end %>
		</li>
		<li>
			<%= link_to friendship_index_path do %>
				<i class="icon-road"></i> Seguindo
			<% end %>
		</li>
		<li>
			<%= link_to rankings_path do %>
				<i class="icon-star"></i> Ranking
			<% end %>
		</li>
		<li>
			<%= link_to feeds_path do %>
				<i class="icon-th-list"></i> Feeds
			<% end %>
		</li>
		<li>
			<%= link_to events_path do %>
				<i class="icon-calendar"></i> Eventos
			<% end %>
		</li>
		<li>
			<%= link_to user_path(current_user) do %>
				<i class="icon-wrench"></i> Configurações
			<% end %>
		</li>
	</ul>

	<hr />
	<br />
