	<div class="account-container">
		<div class="account-avatar"><%= image_tag("default_avatar.png", class: "thumbnail") %></div>
		<div class="account-details">
			<span><%= link_to current_user.name, user_path(current_user), :class => "account-name" %></span>
			<span class="account-actions">
				<%= link_to 'Editar Perfil', edit_user_path(current_user) %>
			</span>
		</div> <!-- /account-details -->
	</div> <!-- /account-container -->

	<hr />

	<ul id="main-nav" class="nav nav-tabs nav-stacked">
	<% current_user.functionalities.each do |f| %>
    <li>
			<%= link_to eval(f.url) do %>
				<i class="icon-<%= f.icon %>"></i> <%= f.name %>
			<% end %>
		</li>
		<% end %>
	</ul>
	<hr />
	<br />
