<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>StartMe</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
<body>
  <%= render "layouts/menu" %>

  <div class="messages">
    <% if flash[:notice]%>
      <div class="alert alert-info">
        <p class="error"><%= flash[:notice] %></p>
      </div>
    <% end %>

    <% if flash[:error]%>
      <div class="alert alert-error">
        <p class="error"><%= flash[:error] %></p>
      </div>
    <% end %>
  </div>
  <%= yield %>

  <%= render "layouts/footer" %>
</body>
</html>
